.g-body {
    border-top: solid 4px var(--color-light-secondary);
    background-color: var(--color-light-primary);
    padding: 2vh 40px;
    font-family: var(--title-font);
}

.g-topic {
    padding-bottom: 1.5rem;
}

ol {
    list-style: upper-roman inside;
}

.g-topic-title {
    font-family: var(--title-font);
    color: var(--color-dark-primary);
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    font-size: 17px;
    padding: 8px;
    transition: 100ms ease all;
}

.g-topic-text, .g-topic-text > p {
    font-family: var(--title-font);
    color: var(--color-dark-secondary);
    text-align: justify;
    font-size: 14px;
    margin-bottom: 5px;
}

.g-topic-text > p::first-letter {
    font-size: 120%;
    padding-left: 30px;
}

.g-lang-full {
    color: var(--color-dark-primary);
    font-size: 15px;
    letter-spacing: -8px;
    transition: 200ms ease all;
}

.g-lang-empty {
    color: var(--color-light-secondary);
    font-size: 15px;
    letter-spacing: -8px;
    transition: 200ms ease all;
}

.g-lang-full:hover, .g-lang-empty:hover {
    transform: scale(2) translateY(-2px);
}


@media (max-width: 820px) {
    .g-body {
        padding: 2vh 10px;
    }
}

@media (min-width: 820px) {
    .g-body {
        padding: 2vh 10px;
    }
    .g-lang-full, .g-lang-empty {
        transform: scale(1.5);
        letter-spacing: -2px;
    }

}


